{% extends "base.html" %}
{% load static %}
{% block title %}{% endblock title %}

{% block content %}
<div class= " text-center">
    <div class="col-12 themed-grid-col">
    
        
            {{ feature.title}}

            {{feature.body}}

            {% if feature.post_pic %}
            
            <img src= "{{feature.post_pic.url}}"  width="300px" height="300px">
            
            {% endif %}
        
        

    
    <hr>
    
    
    

    </div>
</div>



{% endblock content %}