{% extends "base.html" %}
{% block title %}{% endblock title %}

{% block content %}

<div class=" login text-center">
    <main class="form-signin">
        <form action="" method= 'POST'>
            {% csrf_token %}
            {% if message %}
            <h2>{{ message }}</h2>
            {% endif %}

            
            <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

            <div class="form-floating">
                <input type="text" class="form-control" id="floatingInput" placeholder="username" name="username">
                <label for="floatingInput">username</label>
            </div>

            <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" placeholder="**********" name="password">
                <label for="floatingPassword">Password</label>
            </div>

            <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
            
            <p class="mt-5 mb-3 text-muted">&copy; 2022–2023</p>

        </form>
    </main>

</div>

{% endblock content %}